legacy-peer-deps=true
# Garantir que dependências opcionais sejam instaladas
optional=true
# Não pular dependências opcionais
omit=dev
# Aumentar timeout para dar tempo de baixar os binários nativos
network-timeout=60000