legacy-peer-deps=true
# Garantir que dependências opcionais sejam instaladas
optional=true
# Configuração de dependências a omitir
omit=optional
# Aumentar timeout para dar tempo de baixar os binários nativos
network-timeout=300000
# Configuração específica para o Vercel
fetch-retries=5
registry=https://registry.npmjs.org/